for _, _{{ .field_name }}_{{ .index }}_v3 := range i.{{ .field_name }} {
    err = _{{ .field_name }}_{{ .index }}_v3.Invalid(tags...)
    if err != nil {
        {{- if len_gt_0 .message }}
        err = {{ .message }}
        {{- end }}
        return
    }
}
