for _, _{{ .field_name }}_{{ .index }}_v3 := range i.{{ .field_name }} {
if _{{ .field_name }}_{{ .index }}_v3 == {{ .rule }} {
    {{- if len_gt_0 .message }}
    err = {{ .message }}
    {{- else }}
    err = errors.New(`invalid<not>: each of {{ .struct_name }}.{{ .field_name }} must not be {{ .rule }}`)
    {{- end }}
    return
}

