if i.{{ .field_name }} != nil {
    for _, _{{ .field_name }}_{{ .index }}_v3 := range *i.{{ .field_name }} {
        {{- if len_gt_0 .left_val }}
        if _{{ .field_name }}_{{ .index }}_v3 {{ rRo .left }} {{ .left_val }} {
            {{- if len_gt_0 .message }}
            err = {{ .message }}
            {{- else }}
            err = errors.New(`invalid<RangeTime>:{{ .struct_name }}.{{ .field_name }} must be {{ tRo .left }} {{ .left_val }}`)
            {{- end }}
            return
        }
        {{- end }}
        {{- if len_gt_0 .right_val }}
        if _{{ .field_name }}_{{ .index }}_v3 {{ rRo .right }} {{ .right_val }} {
            {{- if len_gt_0 .message }}
            err = {{ .message }}
            {{- else }}
            err = errors.New(`invalid<RangeTime>:{{ .struct_name }}.{{ .field_name }} must be {{ tRo .right }} {{ .right_val }}`)
            {{- end }}
            return
        }
        {{- end }}
    }
}
