if i.{{ .field_name }} != {{ .rule }} {
    {{- if len_gt_0 .message }}
    err = {{ .message }}
    {{- else }}
    err = errors.New(`invalid<not>: {{ .struct_name }}.{{ .field_name }} must not be {{ .rule }}`)
    {{- end }}
    return
}
